header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #00B4DB;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

ul {
    list-style: none;
}

li {
    display: inline-block;
}

a {
    text-decoration: none;
    padding: 15px;
    color: green;
}

.carrito {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* --------- MAIN -------- */

h2 {
    text-align: center;
    font-size: 40px;
}

.centrar {
    text-align: center;
}

.botonSize {
    font-size: 1.5em;
    margin-right: 5px;
    margin-left: 5px;
}
